.vscode
dist
.dist
_dist
reports
.reports
_reports
output
.output
_output
.env.sh

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*